* {
  margin: 0;
  padding: 0;
}



header{
background-color: black;
list-style-type:none ;

}



ul{display: flex;
  list-style-type:none ;
  justify-content: flex-end;
  
}


 ul li a {

color: white;
text-decoration: none;

}
 



.okno{
  background-image: url('../img/logo 2.png');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: auto;
  height: 500px;
  width: 100%;
}

.fit-logo{
display:inline-block;
margin: 150px;
}
