
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
}



header{ display: flex;
background-color: black;
list-style-type:none ;
justify-content: space-between;


}

header ul {
  flex-wrap: wrap-reverse;
}
.logo1{
  padding-left: 5%;
}

ul{display: flex;
  list-style-type:none ;
align-items: center;

}

ul li{
  list-style-type: none;
  margin: 0 15px;

}
ul{
  padding-right: 4%;
}



li a {

color: white;
text-decoration: none;
font-family: 'roboto';
}


.okno{display: flex;
  background-image: url('../img/logo 2.png');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: auto;
  height: 500px;
  width: 100%;
  justify-content: space-around;

}


form{
  color: rgb(255, 255, 255);
  font-family: 'roboto';
}

.GetStarted{
  color: orange;
  font-family: 'roboto';
  margin-top: 5%;
  font-size: 20px;
}

.for{display: flex;
align-items: center;
}

.logo2 img{
  margin-top: 12%;

}



.logo2 h1{
  color: rgb(255, 255, 255);
  font-family: 'roboto';
  margin-top: 5%;
}

.logo2 hr{
  width: 20%;
  margin-top: 5%;
}
.logo2 p{
color: rgb(218, 216, 216);
font-family: 'roboto';
margin-top: 5%;
font-size: 19px;

}
.download{
  color: orange;
  margin-top: 5%;
  font-family: 'roboto';
  font-size: 20px;
}

.footer{display: flex;
background-color: rgb(209, 209, 209);
height: 130px;
width: 100%;
justify-content: space-around;
}
.p1{
  color: rgb(0, 0, 0);
font-family: 'roboto';
margin-top: 5%;
font-size: 25px;
}
.p2{
  color: rgb(155, 155, 155);
  margin-top: 5%;
  font-family: 'roboto';
  font-size: 20;
}

.icons{
display: flex;
align-items: center;

}
.icons img {
  margin: 0 20px;
}
