* {
  margin: 0;
  padding: 0;
}



header{ display: flex;
background-color: black;
list-style-type:none ;
justify-content: space-between;


}

header ul {
  flex-wrap: wrap-reverse;
}
.logo1{
  padding-left: 5%;
}

ul{display: flex;
  list-style-type:none ;
align-items: center;

}

ul li{
  list-style-type: none;
  margin: 0 15px;

}
ul{
  padding-right: 4%;
}



li a {

color: white;
text-decoration: none;

}


.okno{
  background-image: url('../img/logo 2.png');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: auto;
  height: 500px;
  width: 100%;
}
.logo2{
  display: flex;

}

